// Global style definitions
$green: #69A64F
$gray: #BBBFB9
$comp: #A64F5F

body
    @include container
    +blueprint-typography-defaults
    background: #F9FFF7
    color: rgb(60,60,60)
    margin: auto
    // Stops Mobile Safari from auto-adjusting font-sizes
    -webkit-text-size-adjust: 100%

#account
    #menu 
        float: right
        padding-left: 14px
        padding-right: 10px
        height: 20px
        background-color: $green
        +border-radius(14px)
        text-align: right
        a
            text-decoration: none
            color: black
            margin-right: 8px

#top
    background: white
    height: 66px
    margin-bottom: 10px    

    #logo 
        float: left
        font-size: 60px
        font-weight: bold
        letter-spacing: -0.05em
        margin: 0
        vertical-align: top
        margin-top: -5px0
        text-decoration: none
        color: black

    #search
        width: 300px
        height: 30px
        float: right
        margin-top: 10px

#content
    float: left 

#sidebar
    background: rgb(60,90,100)
    float: right
