<!DOCTYPE html>
{% load i18n %}
{% load site_tags %}
{% spaceless %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="{% block meta_keywords %}{% trans "hi" %}{% endblock %}" /> 
        <meta name="description" content='{% block meta_description %} 
            {% trans "hi" %}{% endblock %}
            '/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        {% include "uni_form/includes.html" %}       
        {% block css %}{% endblock %}
        {% block extra_head %}{% endblock %}

    </head>

    <body>
        <nav id="account">&nbsp;
            <div id="menu">&nbsp;
                {% if user.is_authenticated %}
                    {# <a href="{% url %}">{% trans 'profile' %}</a> #}
                    <a href="{% url profile_detail user.username %}">{% trans 'profile' %}</a>| 
                    <a href="{% url auth_logout %}">{% trans 'logout' %}</a>
                {% else %}
                    <a href="{% url auth_login %}?next={{request.path}}">login</a>or
                    <a href="{% url registration_register %}">register</a>
                {% endif %}
            </div>
        </nav>
        <header id="top">
            <a id="logo" href="/">Site Name</a>
            <form method="get" action="/search/" >
                <input id="search" ype="search" id="id_q" name="q" placeholder="Search" >
            </form>
        </header>
	    <nav id="first-nav">
	      <ul class="minitabs" >
              <div id="navigation">
                  {% url home as home %}
                    {% url test as test %}
	            <a class="{% active_url request home 1 1 %}" href="{{home}}">Home</a> 
	            <a class="{% active_url request test %}" href="{{test}}">Test</a>
	        </div>
	      </ul>        
	    </nav>
        <div id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}
            Content
            {% endblock %}
        </div>
        <div id="sidebar">
                {% block sidebar %}
                Sidebar
                {% endblock %}
        </div>
    </div>
    

    </body>
</html>
{% endspaceless %}
