<!DOCTYPE html>
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="{% block meta_keywords %}{% trans "" %} {% endblock %}" /> 
        <meta name="description" content='{% block meta_description %} 
            {% trans "" %}{% endblock %}
            '/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" />

        {% block css %}{% endblock %}
        {% block extra_head %}{% endblock %}

    </head>

    <body>
        <nav id="account">&nbsp;
            <div id="menu">&nbsp;
                <a href="">Login</a> or <a href="">Register</a>
                {% comment %}
                {% if request.user.is_authenticated %}
                    <a href="{% url %}">{% trans 'profile' %}</a>
                    <a href="{% url %}">
                        {% trans 'logout' %}
                    </a>
                {% else %}
                    <a href="{% url %}">login</a>
                    <a href="{% url %}">register</a>
                {% endif %}
                {% endcomment %}
            </div>
        </nav>
        <header id="top">
            <a id="logo" href="/">Site Name</a>
            <form method="get" action="/search/" >
                <input id="search" ype="search" id="id_q" name="q" placeholder="Search" >
            </form>
        </header>
        <div id="content">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}
            Content
            {% endblock %}

        </div>
        <div id="sidebar">
                {% block sidebar %}
                Sidebar
                {% endblock %}
        </div>
    </div>
    
    </body>

